.new-turma, .conteudos {
    margin-top: 20px;
}
.loading {
    margin-top: 40px;
}
form {
    margin-top: 30px;
}

ngb-tabset {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.new-aluno input {
    width: calc(100% - 70px);
    float: left;
}

.new-aluno .btn {
    float: right;
}

.jumbotron, .fleft {
    float: left;
    width: 100%;
}

.add {
    margin-top: 20px;
}

.atividades {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.table {
    margin-top: 20px;
    float: left;
    width: 100%;
}

table td {
    position: relative;
}

td .fa-spinner, .conteudos .fa-check {
    position: absolute;
    top: 23px;
    right: 21px;
}

td button {
    position: relative;
}

td input {
    padding-right: 30px;
}