<div class="login">
  <form class="col-6" (submit)="submit(form)" [formGroup]="form">

      <h5 class="title">Nota 10 admin</h5>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email">
      </div>

      <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" formControlName="password">
      </div>

      <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || form.invalid">
        Entrar
        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
      </button>
  </form>
</div>