.menu ul, .menu ul li {
    float: right;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul {
    display: initial;
}

.menu {
    float: right;
}

.navbar-brand {
    color: #fff !important;
}

.user {
    position: relative;
    top: 7px;
}

.show > .dropdown-menu {
    left: initial !important;
    right: 0px;
}