<div class="turmas">
  <app-menu></app-menu>

  <div class="loading text-center" *ngIf="loading">
    Carregando...
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <div class="container turmas-list" *ngIf="!loading">
    <h5 *ngIf="turmas && turmas.length > 0">
      Minhas turmas
      <button class="btn btn-sm btn-primary pull-right pointer" (click)="add()">
        Adicionar turma
        <i class="fa fa-plus"></i>
      </button>
    </h5>

    <blank-state icon="fa fa-frown-o" *ngIf="!turmas || turmas.length === 0">
      <h5>Você não tem turmas</h5>
      <p>
        Criando uma turma, você poderá adicionar atividades, conteúdos e acompanhar o desenvolvimento de seus alunos.
      </p>
      <button class="btn btn-primary btn-sm" (click)="add()">
        Criar uma turma
      </button>
    </blank-state>
    <table class="table table-striped" *ngIf="turmas && turmas.length > 0">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Deletar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turma of turmas; let index = index;">
          <td>
            <a routerLink="/add-turma/{{turma.objectId}}">{{ turma.nome }}</a>
          </td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deletar(turma, index)" [disabled]="turma.deletando">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Estamos em fase de testes.</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5>Obrigado por nos ajudar!</h5>
      <br>
      <p>
        Atualmente estamos em teste beta gratuito, para obtermos o máximo de feedback de nossos usuários,
        à respeito de melhorias e novas funcionalidades, com o intuito 
        de providenciar uma experiência melhor no ensino do seus alunos.
      </p>

      <p>
        Assim que sairmos do teste beta para uma versão de lançamento, iremos te avisar, e você ganhará
        algumas cortesias pela sua ajuda.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fechar</button>
    </div>
  </ng-template>

</div>